/*-------------------------------------------------------------------------------------------------------------------
输入密码组件
-------------------------------------------------------------------------------------------------------------------*/
.payPsw-group >.payPsw-input{
  height: 4rem;
  line-height: 4rem;
  border: .1rem solid #ccc;
  border-radius: .4rem;
  background: #fff;
  display:-webkit-flex;
  display: flex;
  -webkit-justify-content:space-between;
  justify-content:space-between;
}
.payPsw-group >.payPsw-input >div{
  display:-webkit-flex;
  display: flex;
  border-right:.1rem solid #E6E6E6;
  width: calc(100% / 6);
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-align-items: center;
  align-items: center;
}
.payPsw-group .cursor-psw{
   height: 3rem;
}
.payPsw-group >.payPsw-input >div:last-child{
  border-right:0;
}
.payPsw-group >.payPsw-input >div.focus:after{
  content: '';
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background: #333;
  border-radius:1.8rem;
}

/*-------------------------------------------------------------------------------------------------------------------
 纯数字键盘
-------------------------------------------------------------------------------------------------------------------*/
.digital-keyboard{  
  position: fixed;
  bottom:0;
  z-index: 2;
  width: 100%;
  left: 0;
/*  background: #D2D5DB;
*/  border-top:.1rem solid #EBEBEB;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content:space-between;
  justify-content:space-between;
}
.digital-keyboard .item{
  background: #fff;
  border:.1rem solid #F9F9F9; 
  font-family: "\5FAE\8F6F\96C5\9ED1","Helvetica-Neue", "Helvetica", Arial, sans-serif;
  font-size: 2rem;
  color: #666;
  padding:1rem 0; 
  text-align: center;
  width: 33.3%; 
}
.digital-keyboard .null-item{  
  margin:.5rem .5rem 0 0; 
  width: 31.5%; 
}
.digital-keyboard .clear-number{  
  border:none; 
  background: #F9F9F9;

}
.digital-keyboard .item:active,
.amount-keyboard .item:active{
  background: #EBEBEB;
}
.item.clear-number .psw-clear{ 
  height: 2.5rem;
  width: 2.5rem;
}

.digital-keyboard .item.clear-number .iconfont{
  font-size: 3rem;
}